<mat-accordion>
  <mat-expansion-panel>

  <mat-expansion-panel-header>
      <mat-panel-title>
        Name: {{ task.name }}
      </mat-panel-title>      
    </mat-expansion-panel-header>


    <div>Description: {{ task.description }}</div>
    <div>Priority: {{ Priority[task.priority] }}</div>
    <div>Date: {{ task.date | date: 'short' }}</div>
    <div class="d-flex p-1 justify-content-between">
      <button class="btn btn-dark text-light" (click)="onDeleteClick($event)"><span class="fa fa-trash"></span></button>
      <button class="btn btn-dark text-light" (click)="onEditClick($event)"><span class="fa fa-edit"></span></button>
    </div>

  </mat-expansion-panel>
</mat-accordion>
