.container {
  display: flex;
}

.container .colomn {
  flex: 1;
  height: 100%;
  margin: 5px;
}

.column_center {
  order: 2;
}

.taskList-name {
  margin: 10px 40px;
  font-size: 20px;
}

.taskList-add {
  margin: 10px 40px;
  justify-content: center;
  cursor: pointer;
}

.header {
  display: flex;
}

.example-spacer {
  flex: 1 1 auto;
}

.add-link:hover {
  text-decoration: underline;
}
