<div class="header">
  <div class="taskList-name">{{ taskList.name }}</div>
  <span class="align-center"></span>
  <span class="example-spacer"></span>
  <div class="taskList-add">
    <mat-icon>add</mat-icon>
    <button mat-raised-button (click)="openNewTaskDialog()">
      Add New Task
    </button>
  </div>
</div>

<div class="container" cdkDropListGroup>
  <div
    class="colomn"
    id="1"
    cdkDropList
    [cdkDropListData]="toDo"
    (cdkDropListDropped)="drop($event)"
  >
    <mat-card>
      <div class="header">To Do:</div>
    </mat-card>
    <div cdkDrag [cdkDragData]="task" *ngFor="let task of toDo">
      <app-task [task]="task"
      (editTask)="onEditTask($event)"
      (deleteTask)="onDeleteTask($event)"></app-task>
    </div>
  </div>

  <div
    class="colomn"
    id="2"
    cdkDropList
    [cdkDropListData]="inProgress"
    (cdkDropListDropped)="drop($event)"
  >
    <mat-card>
      <div class="header">In Progress:</div>
    </mat-card>
    <div cdkDrag [cdkDragData]="task" *ngFor="let task of inProgress">
      <app-task [task]="task"
      (editTask)="onEditTask($event)"
      (deleteTask)="onDeleteTask($event)"></app-task>
    </div>
  </div>

  <div
    class="colomn"
    id="3"
    cdkDropList
    [cdkDropListData]="done"
    (cdkDropListDropped)="drop($event)"
  >
    <mat-card>
      <div class="header">Done:</div>      
    </mat-card>
      <div cdkDrag [cdkDragData]="task" *ngFor="let task of done">
        <app-task [task]="task"
        (editTask)="onEditTask($event)"
        (deleteTask)="onDeleteTask($event)"></app-task>
      </div>
  </div>
</div> 
